/Function.xml
/IKAnalyzer.cfg.xml
/beans-activiti.xml
/beans-cache.xml
/beans-cxf.xml
/beans-shiro.xml
/beans.xml
/bpmn/
/cn/
/com/
/demo/
/ehcache.xml
/ext.dic
/hibernate.cfg.xml
/jdbc.properties
/junit/
/log4j.properties
/sourceCodeGeneratorConfig.properties
/stopword.dic
/struts.xml
/template/
